@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 210 33% 99%;
		--foreground: 0 0% 18%;

		--muted: 0 0% 95%;
		--muted-foreground: 0 0% 44%;

		--popover: 210 33% 99%;
		--popover-foreground: 0 0% 18%;

		--card: 210 33% 99%;
		--card-foreground: 0 0% 18%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 95%;
		--primary-color: 148 72% 31%;

		--secondary: 0 0% 95%;
		--secondary-foreground: 0 0% 18%;

		--accent: 0 0% 95%;
		--accent-foreground: 0 0% 18%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 9%;
		--foreground: 210 40% 98%;

		--muted: 0 0% 14%;
		--muted-foreground: 0 0% 63%;

		--popover: 0 0% 9%;
		--popover-foreground: 210 40% 98%;

		--card: 0 0% 9%;
		--card-foreground: 210 40% 98%;

		--border: 0 0% 18%;
		--input: 0 0% 18%;

		--primary: 210 40% 98%;
		--primary-foreground: 0 0% 18%;

		--secondary: 0 0% 55%;
		--secondary-foreground: 210 40% 98%;

		--accent: 0 0% 14%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 0 0% 18%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body,
	html {
		@apply bg-background text-foreground;
		@apply h-full;
	}

	::-webkit-scrollbar {
		@apply w-1 h-1;
	}

	::-webkit-scrollbar-track {
		@apply bg-neutral-200 rounded-lg;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-neutral-400 rounded-lg;
	}

	.no-scroll ::-webkit-scrollbar {
		@apply hidden;
	}

	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button,
	input[type='number'] {
		-webkit-appearance: none;
		margin: 0;
		appearance: none !important;
		-moz-appearance: textfield !important;
	}
}
